# ==========================
# Maven
# ==========================

target/

!.mvn/wrapper/maven-wrapper.jar

# ==========================
# IntelliJ IDEA
# ==========================

.idea/
*.iml
*.ipr
*.iws

# ==========================
# Eclipse / STS
# ==========================

.project
.classpath
.settings/
.factorypath
.springBeans
.sts4-cache
.apt_generated

# ==========================
# NetBeans
# ==========================

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# ==========================
# VS Code
# ==========================

.vscode/

# ==========================
# Logs
# ==========================

logs/
*.log

# ==========================
# Environment
# ==========================

.env
.env.*

application-local.yml
application-secret.yml

# ==========================
# OS
# ==========================

.DS_Store
Thumbs.db